:root {
    --background-color: #ffffff;
    --text-color: #4a4a4a;
    --panel-background: #f5f5f5;
    --panel-heading-background: #00d1b2;
    --panel-heading-color: #ffffff;
    --panel-block-hover: #e0e0e0;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --panel-background: #1e1e1e;
    --panel-heading-background: #333333;
    --panel-heading-color: #ffffff;
    --panel-block-hover: #555555;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.sidebar {
    padding-top: 2%;
    padding-left: 20px;
}

.panel {
    background-color: var(--panel-background);
    border: 1px solid #dbdbdb;
}

.panel-heading {
    background-color: var(--panel-heading-background);
    color: var(--panel-heading-color);
}

.panel-block {
    color: var(--text-color);
    font-weight: bold;
}

.panel-block:hover {
    background-color: var(--panel-block-hover);
}

.card {
    margin-top: 50px;
}

.card .title {
    margin-bottom: 20px;
}

.content {
    margin-top: 2%;
    padding-right: 3%;
}