<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link id="bulma-stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="box">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ url_for('email.index') }}">
                        <img src="{{ url_for('static', filename='images/pulpo_64.png') }}" alt="Logo">
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                        {% if current_user.is_authenticated %}
                        <a class="navbar-item" href="{{ url_for('auth.logout') }}">Logout</a>
                        {% else %}
                        <a class="navbar-item" href="{{ url_for('auth.login') }}">Login</a>
                        <a class="navbar-item" href="{{ url_for('auth.register') }}">Register</a>
                        {% endif %}
                        <button id="theme-toggle" class="button is-primary">Toggle Theme</button>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Modal para mensajes flash -->
    <div id="flash-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">OctopusMail</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div>
                    {% for category, message in messages %}
                    <div class="notification is-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="closeModal()">OK</button>
            </footer>
        </div>
    </div>
    
    <!-- Sidebar -->
    <div class="columns">
        <aside class="column is-one-fifth sidebar">
            <ul class="panel">
                <p class="panel-heading">Menú</p>
                <li><a class="panel-block" href="{{ url_for('smtp.show_smtp_profiles') }}">Perfiles SMTP</a></li>
                <li><a class="panel-block" href="{{ url_for('tracking.tracking_statistics') }}">Métricas de envíos</a></li>
                <li><a class="panel-block" href="{{ url_for('email.send_email_form') }}">Enviar correos</a></li>
                <li><a class="panel-block" href="{{ url_for('email.schedule_email') }}">Programar correos</a></li>
                <li><a class="panel-block" href="{{ url_for('email.add_email') }}">Añadir un nuevo correo</a></li>
                <li><a class="panel-block" href="{{ url_for('list.create_list') }}">Crear una nueva lista de correo</a></li>
                <li><a class="panel-block" href="{{ url_for('list.show_lists') }}">Gestiona tus listas</a></li>
                <li><a class="panel-block" href="{{ url_for('email.upload_csv') }}">Añadir remitentes desde archivo (csv)</a></li>
                <li><a class="panel-block" href="{{ url_for('email.show_emails') }}">Consulta tus emails</a></li>
                <li><a class="panel-block" href="{{ url_for('templates.show_templates') }}">Consulta tus plantillas</a></li>
                <li><a class="panel-block" href="{{ url_for('templates.upload_template') }}">Subir plantilla HTML</a></li>
            </ul>
        </aside>

        <!-- Content block -->
        <main class="column">
            <div class="container content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>OctopusMail</strong> by <a href="https://github.com/gabrielbaute">Gabriel Baute</a>. The source code is licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.
            </p>
        </div>
    </footer>
</body>
</html>
