{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bienvenido a la App de Envío de Correos
      </h1>
      <h2 class="subtitle">
        Administra tus correos y listas de una manera fácil y eficiente
      </h2>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h3 class="title is-4">Añadir un nuevo correo</h3>
          <p>Agrega correos electrónicos de manera sencilla usando el formulario.</p>
          <a href="{{ url_for('email.add_email') }}" class="button is-link">Añadir Correo</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h3 class="title is-4">Crear una nueva lista</h3>
          <p>Crea listas de correos para gestionar tus contactos de manera organizada.</p>
          <a href="{{ url_for('email.create_list') }}" class="button is-link">Crear Lista</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h3 class="title is-4">Añadir correos a listas</h3>
          <p>Añade correos electrónicos existentes a tus listas de manera rápida.</p>
          <a href="{{ url_for('email.add_to_list') }}" class="button is-link">Añadir a Lista</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
