{% extends "base_public.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title has-text-centered">Register</h1>
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="field">
                                <label class="label">{{ form.username.label }}</label>
                                <div class="control">
                                    {{ form.username(class_='input') }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">{{ form.email.label }}</label>
                                <div class="control">
                                    {{ form.email(class_='input') }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">{{ form.password.label }}</label>
                                <div class="control">
                                    {{ form.password(class_='input') }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">{{ form.password2.label }}</label>
                                <div class="control">
                                    {{ form.password2(class_='input') }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.submit(class_='button is-primary') }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
