{% extends "base.html" %}

{% block title %}Upload CSV{% endblock %}

{% block content %}
<h1 class="title">Upload CSV</h1>
<div class="section">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="field">
                <label class="label">{{ form.csv_file.label }}</label>
                <div class="control">
                    {{ form.csv_file(class_="input") }}
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.existing_list.label }}</label>
                <div class="control">
                    {{ form.existing_list(class_="input") }}
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.list_name.label }}</label>
                <div class="control">
                    {{ form.list_name(class_="input") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.submit(class_="button is-primary") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}